{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "tribe_events-template-default single single-tribe_events tribe-js tribe-filter-live c-sw unboxed centercatnav bodybg1 events-single tribe-events-style-full tribe-events-style-theme tribe-theme-wp-enlightened tribe-events-page-template tribe-is-responsive tribe-mobile" }}

{{ end }}

{{ define "content" }}

{{ partial "event-venue--inPerson.html" . }}



<div class="entry-event">
  <div class="entry-head">

    <p>
      <a href="{{ "events/" | absURL }}"> &laquo; All Events </a>
    </p>

    <!-- Event featured image, but exclude link -->
    {{ if .Params.featured_image.uid }}
      {{/* TODO: image cropping with object-fit
            https://medium.com/@chrisnager/center-and-crop-images-with-a-single-line-of-css-ad140d5b4a87 */}}
      {{/* TODO: image size and scaling? responsiveness? */}}
      {{ $cdnurl := .Site.Params.cdnurl }}
      {{ $thisimg := index $.Site.Data.images (default "bill-of-rights" .Params.featured_image.uid) }}
      {{ $imgBase := $thisimg.uid }}
      {{ $imgExt := $thisimg.format }}
      {{ $imgBaseCDN := printf "%s/%s" $cdnurl $imgBase }}
      {{ $imgWidth := $thisimg.width }}
      {{ $imgHeight := $thisimg.height }}

      {{ $.Scratch.Set "imgSuffix" "" }}
      {{ if gt $imgWidth 400 }}
       {{ $.Scratch.Set "imgSuffix" "_w400" }}
      {{ end }}

      <div class="featured_image">
        <img
          class="attachment-full size-full wp-post-image"
          src="{{ $imgBaseCDN }}{{ $.Scratch.Get "imgSuffix" }}.{{ $imgExt }}"
          alt="{{ with .Params.featured_image.alt }}{{ . }}{{ else }}{{ $thisimg.alt | default "Featured image" }}{{ end }}"
          width="210"
          height="210" />
      </div>

    {{ end }}

    <h1>{{ .Title | markdownify }}</h1>

    <p class="event_date">
      {{ with .Date }}
        {{ . | dateFormat "Monday, Jan 2, 2006" }}
      {{ end }}
      <br/>
      {{ with .Date }}
        {{ . | dateFormat "3:04" }}
      {{ end }} -
      {{ with .Params.end_date }}
        {{ . | dateFormat "3:04 PM ET" }}
      {{ end }}
    </p>

    <p><a class="btn event_register" href="{{ .Params.registration_url }}" onclick="__gaTracker('send', 'event', 'outbound-article', '{{ .Params.registration_url }}', 'REGISTER NOW');" class="btn">Register</a></p>

  </div>

  <div class="event_space">
    <div class="video">
      {{ partial "youtube.html" . }}
    </div>
    <div class="chat">
      <iframe allowfullscreen="" frameborder="0" width="400" height="270" src="https://www.youtube.com/live_chat?v={{ .Params.youtube_id }}&embed_domain=digitalgov.gov"></iframe>
    </div>
  </div>

  <div class="event_content">
    {{ .Content }}
  </div>

  <div class="event_details">
    <h4>Location</h4>
    <p>
    {{ with .Params.venue.venue_name }}{{ . }}<br />{{ end }}
    {{ .Params.venue.address }}<br />
    {{ .Params.venue.city }}, {{ .Params.venue.state }}<br />
    {{ with .Params.venue.zip }}{{ . }} {{ end }}{{ .Params.venue.country }}<br />
    {{ with .Params.venue.room }}Room: {{ . }}<br />{{ end }}
    Map: <a href="{{ .Params.venue.map }}" title="Google Map">{{ .Params.venue.map }}</a>
    </p>
  </div>
  
  <!-- If event_type == "online" -->
  <!-- {{ if eq .Params.event_type "online" }} -->
    <!-- {{ partial "youtube.html" . }} -->
  <!-- else if "mixed" -->
  <!-- {{ else if eq .Params.event_type "mixed" }} -->
    <!-- {{ partial "youtube.html" . }} -->
  <!-- else if "in-person" -->
  <!-- {{ else }} -->
  <!-- {{ end }} -->






  <div class="tribe-events-cal-links">
    {{ $event_startDate := dateFormat "2006-01-02 03:04:05" (time .Params.date).UTC }}
    {{ $event_endDate := dateFormat "2006-01-02 03:04:05" (time .Params.end_date).UTC }}
    {{ $event_title := .Title | markdownify }}
    {{ $event_description := .Summary | markdownify }}
    {{ $event_location := .Params.venue.venue_name }}

    <span class="addtocalendar atc-style-blue">
      <var class="atc_event">
        <var class="atc_date_start">{{ $event_startDate }}</var>
        <var class="atc_date_end">{{ $event_endDate }}</var>
        <var class="atc_timezone">UTC</var>
        <var class="atc_title">{{ $event_title }}</var>
        <var class="atc_description">{{ $event_description }}</var>
        <var class="atc_location">{{ $event_location }}</var>
        <var class="atc_organizer">DigitalGov</var>
        <var class="atc_organizer_email">digitalgov@gsa.gov</var>
      </var>
    </span>
  </div><!-- .tribe-events-cal-links -->



  <!-- Edit file on GitHub -->
  <a target="_blank" class="edit_file" href="https://github.com/GSA/digitalgov.gov" data-filepath="{{.File.Path}}" title="Edit in GitHub"><img src="{{ "img/GitHub-Mark-32px.png" | absURL }}" alt="GitHub Logo"><span>Edit</span></a>

</div>







  					<div class="tribe-events-single-section tribe-events-event-meta primary tribe-clearfix">
  						<div class="tribe-events-meta-group tribe-events-meta-group-details">
  							<h3 class="tribe-events-single-section-title"> Details </h3>
  							<dl>
  								<dt> Date: </dt>
  								<dd>
  									<abbr class="tribe-events-abbr tribe-events-start-date published dtstart" title="{{ with .Date }}{{ . | dateFormat "2006-01-02" }}{{ end }}"> {{ with .Date }}{{ . | dateFormat "January 2" }}{{ end }}</abbr>
  								</dd>

  								<dt> Time: </dt>
  								<dd>
  									<div class="tribe-events-abbr tribe-events-start-time published dtstart" title="{{ with .Date }}{{ . | dateFormat "2006-01-02" }}{{ end }}">
                      {{ with .Date }}{{ . | dateFormat "3:04 PM" }}{{ end }} - {{ with .Params.end_date }}{{ . | dateFormat "3:04 PM" }}{{ end }}
                    </div>
  								</dd>

                  {{/*- don't show event cats and tags -*/}}
                  {{/*-
                  {{ if (not (isset .Params "categories")) | or (eq .Params.categories "") }}
                  {{ else }}
                    <dt>Event Categories:</dt>
                    <dd class="tribe-events-event-categories">
                      {{ $_cats := .Params.categories }}
                      {{ $length := $_cats | len }}
                      {{ range $i, $e := $_cats }}
                        {{ $slug := $e | urlize }}
                        {{ $cat := index $.Site.Data.categories $slug }}
                        {{ $link := printf "categories/%s/" $slug }}
                        {{ if lt (add $i 1) $length }}
                          <a href="{{ $link | absURL }}" rel="tag">{{ $cat.display_name }}</a>,
                        {{ else }}
                          <a href="{{ $link | absURL }}" rel="tag">{{ $cat.display_name }}</a>
                        {{ end }}
                      {{ end }}
                    </dd>
                  {{ end }}

                  {{ $sitetags := $.Site.Data.tag }}
                  {{ if (not (isset .Params "tag")) | or (eq .Params.tag "") }}
                  {{ else }}
                    <dt>Event Tags:</dt>
                    <dd class="tribe-event-tags">
                      {{ $_taxonomy := .Params.tag }}
                      {{ $length := $_taxonomy | len }}
                      {{ range $i, $e := $_taxonomy }}
                        {{ $slug := $e | urlize }}
                        {{ $tag := index $sitetags $slug }}
                        {{ $link := printf "tag/%s/" $slug }}
                        {{ if lt (add $i 1) $length }}
                          <a href="{{ $link | absURL }}" rel="tag">{{ $tag.display_name }}</a>,
                        {{ else }}
                          <a href="{{ $link | absURL }}" rel="tag">{{ $tag.display_name }}</a>
                        {{ end }}
                      {{ end }}
                    </dd>
                  {{ end }}
                  -*/}}
  							</dl>
  						</div><!-- .tribe-events-event-meta -->

  						<div class="tribe-events-meta-group tribe-events-meta-group-organizer">
  							<h3 class="tribe-events-single-section-title">Organizer</h3>
  							<dl>
                  {{/* TODO: why is this here? */}}
  								<dt style="display:none;"></dt>
  								<dd class="tribe-organizer">
  									{{ .Params.event_organizer }} </dd>
  							</dl>
  						</div><!-- .tribe-events-meta-group -->
  					</div><!-- .tribe-events-single-section -->

            {{ if eq .Params.event_type "online" }}
              {{/*- Skip this section -*/}}
            {{ else }}
    					<div class="tribe-events-single-section tribe-events-event-meta secondary tribe-clearfix">
    						<div class="tribe-events-meta-group tribe-events-meta-group-venue">

                {{/* TODO: Change this to reference the venue_id of the record, not the filename. dunno why I can't make this work. */}}
                {{ if .Params.relationships.venue_id }}
                  {{ if index $.Site.Data.venues .Params.relationships.venue_id }}
                    {{ $.Scratch.Set "venue" (index $.Site.Data.venues  .Params.relationships.venue_id) }}
                  {{ else }}
                    {{ $.Scratch.Set "venue" .Params.venue }}
                  {{ end }}
                {{ else }}
                  {{ $.Scratch.Set "venue" .Params.venue }}
                {{ end }}
                {{ $venue := $.Scratch.Get "venue" }}
    							<h3 class="tribe-events-single-section-title"> Venue </h3>
    							<dl>
    								<dd class="tribe-venue">{{ $venue.venue_name }} </dd>

                    {{/* TODO: This is pretty sloppy code */}}
    								<dd class="tribe-venue-location">
    									<address class="tribe-events-address">
              					<span class="tribe-address">
                          <span class="tribe-street-address">{{ $venue.address }}</span>
                      		<br>
                      		<span class="tribe-locality">{{ $venue.city }}</span><span class="tribe-delimiter">,</span>
                          {{/* TODO: String lookup for full state name */}}
                        	<abbr class="tribe-region tribe-events-abbr" title="{{/* full-state-name */}}">{{ $venue.state }}</abbr>
                        	<span class="tribe-postal-code">{{ $venue.zip }}</span><br>
                          <a href="{{ $venue.map }}">View map</a>
                        </span>

                      </address>
    								</dd><!-- .tribe-venue-location -->
    							</dl>
    						</div><!-- .tribe-events-meta-group -->


    					</div><!-- .tribe-events-single-section -->
            {{ end }}
  				</div><!-- .tribe_events -->








{{ end }}
